[Unit]
Description=Run Xserver Backup Data (hourly)

[Timer]
OnCalendar=07..22:00:00
Persistent=false
Unit=xsrv-backup-data.service

[Install]
WantedBy=timers.target
