[Unit]
Description=Xserver Backup Service
[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/local/bin/xsrv-backup.sh > /tmp/xsrv-backup.log 2>&1"
StandardOutput=append:/tmp/xsrv-backup.log
StandardError=inherit

