[Unit]
Description=Xserver Backup Service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/xsrv-backup.sh
ExecStart=/usr/local/bin/xsrv-backup-data.sh
StandardOutput=truncate:/tmp/xsrv-backup.log
StandardError=truncate:/tmp/xsrv-backup.log
