[Unit]
Description=Run Xserver Backup (daily 22:05)
[Timer]
OnCalendar=22:05:00
Persistent=true
Unit=xsrv-backup.service
[Install]
WantedBy=timers.target
