[Unit]
Description=Run Xserver Backup (hourly 07:00-22:00)

[Timer]
OnCalendar=07..22:00:00
Persistent=false
Unit=xsrv-backup.service

[Install]
WantedBy=timers.target
