#########################################################
## bind bind.rc -- Custom key bind
## cat ~/.muttrc
## source ~/.mutt/bind.rc
#########################################################
bind index,attach g first-entry # 最初のエントリへ移動
bind index,attach G last-entry # 最後のエントリへ移動
bind index J next-new-then-unread # 次の新着・未読メールへ移動
bind index K previous-new-then-unread # 前の新着・未読メールへ移動
bind index,pager f next-page # 次のページへ移動
bind index,pager b previous-page # 前のページへ移動
bind pager g top # メールの一番上へ移動
bind pager G bottom # メールの一番下へ移動
bind pager j next-line # 一行下へスクロール
bind pager k previous-line # 一行上へスクロール
bind pager h exit # メニューを終了
bind pager l display-toggle-weed # ヘッダ抑止の切替
bind index,pager F forward-message # メールを転送

macro index 'c' '<change-folder>+' # 指定フォルダへ移動
macro index,pager 'C' '<copy-message>+' # メールを指定フォルダへコピー
macro index,pager 's' '<save-message>+' # メール・添附ファイルを指定メールボックス・ファイルへ保存
macro index,pager '0' '<sync-mailbox><change-folder>+trash<enter>' # ゴミ箱へ移動
macro index,pager '9' '<sync-mailbox><change-folder>+hold<enter>' # 保留へ移動
macro index,pager '1' '<sync-mailbox><change-folder>+inbox<enter>' # 受信箱へ移動


