#########################################################
# Custom keybind

# Set to Vim like
bind index,attach g first-entry       # Go to first entry
bind index,attach G last-entry        # Go to last entry
bind index J next-new-then-unread     # Go to next new/unread mail
bind index K previous-new-then-unread # Go to previous new/unread mail
bind index,pager f next-page          # Go to next page
bind index,pager b previous-page      # Go to previous page
bind pager g top                      # Go to the top of the email
bind pager G bottom                   # Go to the bottom of the email
bind pager j next-line                # Scroll down one line
bind pager k previous-line            # Scroll up one line
bind pager h exit                     # Exit Menu
bind pager l display-toggle-weed      # header suppression switching
bind index,pager F forward-message    # Forwarding Mail

macro index 'c' '<change-folder>+'      # Move to specified folder
macro index,pager 'C' '<copy-message>+' # Copy mail to designated folder
macro index,pager 's' '<save-message>+' # Save mail and attached files to designated mailbox/file
macro index,pager '0' '<sync-mailbox><change-folder>+trash<enter>' # Move to trash
macro index,pager '9' '<sync-mailbox><change-folder>+hold<enter>'  # Move to hold
macro index,pager '1' '<sync-mailbox><change-folder>+inbox<enter>' # Move to Inbox


