set imap_user = "minorugh@gmail.com"
set imap_pass = "lribejxhsohiztyh"
set smtp_url  = "smtp://minorugh@smtp.gmail.com:587/"
set smtp_pass = "lribejxhsohiztyh"
set from      = "minorugh@gmail.com"
set realname  = "やまだみのる"
