[submodule ".vim/bundle/vim-colorschemes"]
	path = .vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule ".vim/bundle/vimshell_3787e5"]
	path = .vim/bundle/vimshell_3787e5
	url = https://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "nerdtree"]
	path = .vim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule ".vim/bundle/neosnippet-snippets"]
	path = .vim/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
