[github]
	user = minorugh
[user]
	name = Minoru Yamada
	email = minorugh@gmail.com
[alias]
	st = status
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	ignorecase = false
	quotepath = false
	safecrlf = true
	editor = emacsclient
[push]
	default = simple
[credential]
	helper = wincred
