[user]
	name = Minoru Yamada
	email = minorugh@gmail.com
[alias]
	st = status
	co = checkout
	ri = rebase -i
	lv = log --graph --branches --tags --remotes --pretty=format:'%Cred%h%Creset - %s%C(yellow)%d%Creset %Cgreen(%cr:%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
	b = branch
	ba = branch -a
	fap = fetch --all --prune
	pff = pull --ff
[core]
	editor = emacsclient
	ignorecase = false
	quotepath = false
	safecrlf = true
[ghq]
	root = ~/src
[gpg]
	program = gpg
[push]
	default = simple
[credential]
	helper = wincred
[github]
	user = minorugh
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
