!! ~/.Xresources
Xft.dpi: 120  !! HiDPI設定 (96=標準, 120=125%, 144=150%)

!! doom-dracula theme
Emacs.background: #282c36
Emacs.foreground: #f8f8f2

! xterm設定(power-menu.sh対応)
XTerm*geometry: 80x30
XTerm*faceName: monospace
XTerm*faceSize: 20
XTerm*background: #282c36
XTerm*foreground: #f8f8f2
