[Desktop Entry]
Name=Firefox ESR
Name[ja]=Firefox ESR
Comment=Browse the World Wide Web
Comment[ja]=ウェブを閲覧します
GenericName=Web Browser
GenericName[ja]=ウェブ・ブラウザ
X-GNOME-FullName=Firefox ESR Web Browser
X-GNOME-FullName[ja]=Firefox ESR ウェブ・ブラウザ
Exec=/usr/lib/firefox-esr/firefox-esr %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-esr
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-esr
StartupNotify=true
X-XFCE-Source=file:///home/minoru/Desktop/firefox-esr.desktop
