[Desktop Entry]
Version=1.0
Type=Link
Name=minorugh (Minoru Yamada) · GitHub
Comment=
Icon=/home/minoru/Dropbox/Documents/icons/icons/Github.png
URL=https://github.com/minorugh/
X-XFCE-Source=file:///home/minoru/Desktop/minorugh%20(Minoru%20Yamada)%20%C2%B7%20GitHub.desktop
