openpgp-revocs/*   eol=crlf
private-key-v1.d/* eol=crlf
pubring.kbx	 filter=git-crypt diff=git-crypt
pubring.kbx~	 filter=git-crypt diff=git-crypt
random_seed	 filter=git-crypt diff=git-crypt
trustdb.gpg	 filter=git-crypt diff=git-crypt
