[Desktop Entry]
X-SnapInstanceName=lepton
Name=Lepton
Exec=env BAMF_DESKTOP_FILE_HINT=/var/lib/snapd/desktop/applications/lepton_lepton.desktop /snap/bin/lepton
Terminal=false
Type=Application
Icon=/snap/lepton/10/meta/gui/icon.png
StartupWMClass=Lepton
Comment=Democratizing Code Snippets Management (macOS/Win/Linux)
Categories=Development;
X-XFCE-Source=file:///home/minoru/.local/share/applications/lepton_lepton.desktop
