[Desktop Entry]
Version=1.0
Type=Application
Name=Instagram
GenericName=Instagram
Icon=/home/minoru/.webcatalog/Instagram/resources/app.asar.unpacked/build/icon.png
Exec="/home/minoru/.webcatalog/Instagram/Instagram"
Terminal=false
StartupWMClass=instagram
Categories=Network;WebBrowser
X-XFCE-Source=file:///home/minoru/Desktop/webcatalog-instagram.desktop
