[Desktop Entry]
Version=1.0
Type=Application
Exec=gnome-terminal
Icon=utilities-terminal
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Terminal Emulator
Name[ja]=ターミナルエミュレーター
Comment=Use the command line
Comment[ja]=コマンドラインを使用します
X-XFCE-Source=file:///usr/share/applications/exo-terminal-emulator.desktop
Path=
