[Desktop Entry]
Version=1.0
Type=Link
Name=ホーム - Google ドライブ
Comment=
Icon=/home/minoru/Pictures/icons/Google_Drive_icon_(2020).png
URL=https://drive.google.com/drive/home
X-XFCE-Source=file:///home/minoru/Desktop/%E3%83%9B%E3%83%BC%E3%83%A0%20-%20Google%20%E3%83%89%E3%83%A9%E3%82%A4%E3%83%96.desktop
