[Desktop Entry]
Version=1.0
Type=Application
Name=X
GenericName=X
Icon=/home/minoru/.webcatalog/X/resources/app.asar.unpacked/build/icon.png
Exec="/home/minoru/.webcatalog/X/X"
Terminal=false
StartupWMClass=x
Categories=Network;WebBrowser
X-XFCE-Source=file:///home/minoru/Desktop/webcatalog-twitter.desktop
