[Desktop Entry]
Version=1.0
Type=Link
Name=DeepL翻訳：高精度な翻訳ツール
Comment=
Icon=/home/minoru/Dropbox/Documents/icons/icons/deepl.png
URL=https://www.deepl.com/ja/translator
X-XFCE-Source=file:///home/minoru/Desktop/DeepL%E7%BF%BB%E8%A8%B3%EF%BC%9A%E9%AB%98%E7%B2%BE%E5%BA%A6%E3%81%AA%E7%BF%BB%E8%A8%B3%E3%83%84%E3%83%BC%E3%83%AB.desktop
