[Desktop Entry]
Version=1.0
Name[ja]=Inkscape
Name=Inkscape
GenericName[ja]=ベクターグラフィックエディター
GenericName=Vector Graphics Editor
X-GNOME-FullName=Inkscape Vector Graphics Editor
Comment[ja]=Scalable Vector Graphics (SVG) 画像の作成と編集を行います
Comment=Create and edit Scalable Vector Graphics images
Keywords[ja]=image;editor;vector;drawing;
Keywords=image;editor;vector;drawing;
Type=Application
Categories=Graphics;VectorGraphics;GTK;
MimeType=image/svg+xml;image/svg+xml-compressed;application/vnd.corel-draw;application/pdf;application/postscript;image/x-eps;application/illustrator;image/cgm;image/x-wmf;application/x-xccx;application/x-xcgm;application/x-xcdt;application/x-xsk1;application/x-xcmx;image/x-xcdr;application/visio;application/x-visio;application/vnd.visio;application/visio.drawing;application/vsd;application/x-vsd;image/x-vsd;
Exec=inkscape %F
TryExec=inkscape
Terminal=false
StartupNotify=true
Icon=/home/minoru/Dropbox/Documents/icons/icons/1200px-Adobe_Illustrator_Icon_(CS6).svg.png
X-Ayatana-Desktop-Shortcuts=Drawing
Actions=new-window;
X-XFCE-Source=file:///home/minoru/Desktop/org.inkscape.Inkscape.desktop

Path=

[X-Drawing Shortcut Group]
Name[ja]=新しいベクター画像
Name=New Drawing
Exec=inkscape
TargetEnvironment=Unity

[Desktop Action new-window]
Name[ja]=新規ウィンドウを開く
Name=Open a New Window
Exec=inkscape
