[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FileZilla XSRV
Comment=FileZilla start with gospel-haiku.com
Exec=/home/minoru/.local/bin/filezilla.sh -s
Icon=filezilla
Categories=Development;Network;
Path=
Terminal=false
StartupNotify=false
