[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FreeRDP
Comment=Open Winqdows in freerdp
Exec=sh /usr/local/bin/freerdp.sh
Icon=/home/minoru/Pictures/icons/vboxwin.png
Categories=Development;
Path=
Terminal=false
StartupNotify=false
