[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=FileZilla GH
Comment=FileZilla start with gospel-haiku.com
Exec=/home/minoru/.local/bin/fzilla-gh.sh
Icon=filezilla
Categories=Development;Network;
Path=
Terminal=false
StartupNotify=false
