[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Lepton
Comment=Lean code snippet manager
Exec=/snap/bin/lepton
Icon=/home/minoru/Pictures/icons/lepton.png
Categories=Development;
Path=
Terminal=false
StartupNotify=false
