[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ファイル - Dropbox
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=mpnpalcochkcnfmmkpebfcjiajjcefbe
Icon=chrome-mpnpalcochkcnfmmkpebfcjiajjcefbe-Default
StartupWMClass=crx_mpnpalcochkcnfmmkpebfcjiajjcefbe
X-XFCE-Source=file:///home/minoru/Desktop/chrome-mpnpalcochkcnfmmkpebfcjiajjcefbe-Default.desktop
Comment=
Path=
StartupNotify=false
