[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/minoru/Desktop/2020xmass.jpg]
row=5
col=0

[/home/minoru/Desktop/darktable_exported]
row=8
col=0

[/home/minoru/Desktop/2020.jpg]
row=9
col=0

[/home/minoru/Desktop/totoro.png]
row=3
col=0

[/home/minoru/Desktop/IMG_20201029_134546.jpg]
row=1
col=0

[/home/minoru/Desktop/50732577096_c243249a8d_z.jpg.xmp]
row=7
col=0

[/home/minoru/Desktop/50732577096_c243249a8d_z.jpg]
row=6
col=0

[/home/minoru/Desktop/imgrc0090466364_1024x1024@2x.jpg]
row=4
col=0

[/home/minoru/Desktop/2020.png]
row=2
col=0

[FC26FF6926FF2376]
row=0
col=0

