[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/minoru/Desktop/o1024068114651759220.jpg]
row=1
col=0

[/home/minoru/Desktop/kakiotiba.jpg]
row=2
col=0

[/home/minoru/Desktop/Makefile]
row=0
col=0

