*.elc
/.cask
/.edbi-ds-history
/.python-environments/
/abbrev_defs
/ac-comphist.dat
/async-bytecomp.log
/auto-save-list
/company-statistics-cache.el
/emms/
/emojis/
/flycheck_*
/games/
/hackernews
/haskell-fun/
/auto-save-list/
/el-get/
/elpa/
/docs/_build/
/eshell/
/request/
/transient/
/url/
/var/
/undohist/
/amx-*
/bookmarks
/custom.el
/history
/places
/projectile-*
/recentf*
/tramp
/.persistent-*
/tmp
