[Desktop Entry]
Name=Gwenview
Name[ja]=Gwenview
GenericName=KDE Image Viewer
GenericName[ja]=KDE 画像ビューア
Comment=A simple image viewer
Comment[ja]=シンプルな画像ビューア
Exec=gwenview %U
Terminal=false
Icon=gwenview
Type=Application
Categories=Qt;KDE;Graphics;Viewer;Photography;
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-icns;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;image/x-tga;
X-DocPath=gwenview/index.html
InitialPreference=8
X-DBUS-ServiceName=org.kde.gwenview
X-XFCE-Source=file:///usr/share/applications/org.kde.gwenview.desktop
